.main{
    height: 100vh;
    background-color: var(--primaryColor);
    color:#fff;
}
.main header, .main-content, .main-footer{
    animation: content-appear 1s ease-out forwards;
}

.main__link{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.main-content .lead .link-light{
    margin-right: 1rem;
}

.main__link:hover{
    color: inherit;
}


